
.icons{
    display: flex;
    width: 36px;
    align-items: center;
    justify-content: center;
    height: 18px;
    margin-top: 8px;
}
.icons:hover{
    background-color: rgba(224, 223, 221, 0.995);
    border-radius: 25px;
    cursor: pointer;
}
.notecolor{
    width: 40px;
    height: fit-content;
    background-color: rgb(243, 251, 251);
}
.circlebutton{
    border-radius: 18px;
    height: 38px;
    width: 38px;
    border: none;
}
.icolor{
    width: 170px;
    margin-left: 10px;
    // border: 1px solid yellow ;
}

.ticons{
    width: 19px;
    height: 18px;
    margin-left: 6px;
    margin-top: 8px;
}
.ticons:hover{
    background-color: rgba(224, 221, 223, 0.995);
    border-radius: 25px;
    cursor: pointer;
}
.ficons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}
.aa{
    // background-color: purple;
    width: 200px;
}