<div class="noteicon" fxLayout="row" fxLayoutAlign="space-around start">
    <img class="icons" src="../../../assets/add_alert_black_24dp.svg">
    <img class="icons" src="../../../assets/person_add_alt_black_24dp.svg">
    <img class="icons" src="../../../assets/palette_black_24dp.svg">
    <img class="icons" src="../../../assets/image_black_24dp.svg">
    <img class="icons" src="../../../assets/archive_black_24dp.svg">
    <img class="icons" src="../../../assets/more_vert_black_24dp.svg"> 
    <img class="icons" src="../../../assets/undo_black_24dp.svg"> 
    <img class="icons" src="../../../assets/redo_black_24dp.svg"> 
</div>

