
.icons{
    display: flex;
    width: 36px;
    align-items: center;
    justify-content: center;
    height: 18px;
    margin-top: 8px;
}
.icons:hover{
    background-color: rgba(224, 221, 223, 0.995);
    border-radius: 25px;
    cursor: pointer;
}
.notecolor{
    // display: flex;
    // flex-direction: row wrap;
    // align-items: center;
    // justify-content: start;
    width: 40px;
    height: fit-content;
    background-color: rgb(224, 226, 226);
}
.circlebutton{
    border-radius: 18px;
    height: 38px;
    width: 38px;
    border: none;
}
.icolor{
    width: 162px;
    height: auto;
    // border: 1px solid yellow ;
}
.colormenu{
    border: 3px solid yellow ;
    height: fit-content;
}