<div class="parent" ngClass.xs="parent-xs" fxLayout="column" fxLayoutAlign="center center">
    <div class="child" ngClass.xs="child-xs" ngClass.sm="child-sm" fxLayout="column" fxLayoutAlign="start center">
        <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <div class="subchild" ngClass.xs="subchild-xs" ngClass.sm="subchild-sm" fxLayout="column" fxLayoutAlign="space-around center">
            <h1>
                <font color="blue">F</font>
                <font color="red">u</font>
                <font color="#F4B400">n</font>
                <font color="blue">d</font>
                <font color="green">o</font>
                <font color="red">o</font>
            </h1>
            <h1 class="find">Find your email</h1>
            <h4>Enter your phone number or recovery email</h4>
        
            <div class="forminput" ngClass.xs="forminput-xs">
                <mat-form-field appearance="outline">
                    <mat-label>Phone number or Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error>Enter a valid email</mat-error>
                </mat-form-field>
            </div>
            <div class="loginbutton"  fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="center center">
                <div>
                    <button mat-raised-button color="primary">Next</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>