<div class="parent" fxLayout="column" fxLayoutAlign="center center">
    <div class="child" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <h2>
                <font color="blue">F</font>
                <font color="red">u</font>
                <font color="#F4B400">n</font>
                <font color="blue">d</font>
                <font color="green">o</font>
                <font color="red">o</font>
            </h2>
            <h1>Find your email</h1>
            <h4>Enter your phone number or recovery email</h4>
        
            <div class="forminput">
                <mat-form-field appearance="outline">
                    <mat-label>Phone number or Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error>Enter a valid email</mat-error>
                </mat-form-field>
            </div>
            <div class="loginbutton"  fxLayout="row" fxLayoutAlign="end center">
                <div>
                    <button mat-raised-button color="primary">Next</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>