.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // border: 2px solid violet;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h2.example-app-name {
    margin-left: 8px;
    color: rgb(90, 90, 90);
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .mat-toolbar{
    background-color: #fff;
    border: 1px solid rgb(249, 244, 244);
  }
// .main{
//   width: 50px;
//   border: 2px solid red;
// }
  .image{
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
    height: 38px;
  }
  .searchicon{
    color: rgb(205, 205, 202);
    height: 20px;
    width: 25px;
    margin-left: 18px;
    margin-right: 20px;
  }
  .input-bar{
    width: 50%;
    background-color: rgb(230, 229, 233);
    margin-left: 80px;
    border-radius: 10px;
    height: 50px;
  }
  .input-bar > input:active{
    background: transparent;
    border: none;
    outline: none;
  }
  .search-bar{
    font-family: 'Open Sans', sans-serif;;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(230, 229, 233);
    font-size: 20px;
  }
  .irefresh{
    margin-left: 200px;
  }
  .iview{
    margin-left: 20px;
  }
  .lview{
    margin-left: 20px;
    width: 24px;
    height: 24px;
  }
  .isetting{
    height: 25px;
    width: 25px;
    margin-left: 20px;
  }
  .iapps{
    height: 25px;
    width: 25px;
    margin-left: 50px;
  }
  .iaccount{
    height: 40px;
    width: 40px;
    margin-left: 15px;
  }
  .sideicon{
    margin-right: 35px;
  }
  .ireduce{
    height: 20px;
    width: 25px;
  }
  .example-container-md {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // border: 2px solid rgb(130, 238, 159);
    width: 100%;
  }
  .example-toolbar-md{
    width: 100%;
    // border: 2px solid gold;
  }
  .sidenav-content-md{
    // border: 2px red;
    // background-color: black;
    width:100% ;
  }
  .example-container-sm{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // border: 3px solid rgb(130, 238, 159);
    width: 100%;
    height: 200%;
  }
  .example-toolbar-sm{
    width: 100%;
    // border: 2px solid gold;
  }
  // .sidenav-content-sm{
  //   // border: 2px red;
  //   background-color: pink;
  //   // width: 80% ;
  // }
  // .main-sm{
  //   width: 80%;
  //   border: 3px red;
  // }
  .input-bar-sm{
    width: 50%;
    background-color: rgb(250, 250, 252);
    // margin-left: 120px;
    border-radius: 10px;
    // height: 50px;
  }
  .search-bar-sm{
    font-family: 'Open Sans', sans-serif;;
    width: 100%;
    // height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(250, 250, 252);
    font-size: 20px;
  }
  .irefresh-sm{
    margin-left: 20px;
  }
  .iview-sm{
    margin-left: 20px;
  }
  .lview-sm{
    margin-left: 20px;
    width: 24px;
    height: 24px;
  }
  .isetting-sm{
    height: 25px;
    width: 25px;
    margin-left: 20px;
  }
  .iapps-sm{
    height: 25px;
    width: 25px;
    margin-left: 20px;
  }
  .iaccount-sm{
    height: 40px;
    width: 40px;
    margin-left: 15px;
  }
  .example-container-xs{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // border: 3px solid rgb(130, 238, 159);
    width: 100%;
    height: 200%;
  }
  .example-toolbar-xs{
    width: 100%;
    // border: 2px solid gold;
  }
  // .sidenav-content-xs{
  //   // border: 2px red;
  //   // background-color: pink;
  //   // width: 80% ;
  // }

  .input-bar-xs{
    width: 0%;
    // background-color: rgb(13, 13, 218);
    // margin-left: 100px;
    border-radius: 10px;
    // height: 50px;
  }
  .search-bar-xs{
    font-family: 'Open Sans', sans-serif;;
    width: 100%;
    // height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(250, 252, 250);
    font-size: 20px;
  }
  .irefresh-xs{
    margin-left: 0px;
  }
  .iview-xs{
    margin-left: 20px;
  }
  .lview-xs{
    margin-left: 20px;
    width: 20px;
    height: 20px;
  }
  .isetting-xs{
    height: 20px;
    width: 20px;
    margin-left: 20px;
  }
  .iapps-xs{
    height: 20px;
    width: 20px;
    margin-left: 20px;
  }
  .iaccount-xs{
    height: 35px;
    width: 35px;
    margin-left: 15px;
  }
  .searchicon-xs{
    // color: rgb(242, 242, 7);
    height: 25px;
    width: 25px;
    margin-left: 150px;
    // margin-right: 20px;
  }