.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h2.example-app-name {
    margin-left: 8px;
    color: rgb(90, 90, 90);
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .mat-toolbar{
    background-color: #fff;
    border: 1px solid rgb(249, 244, 244);
  }

  .image{
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
    height: 38px;
  }
  .searchicon{
    color: rgb(205, 205, 202);
    height: 20px;
    width: 25px;
    margin-left: 18px;
    margin-right: 20px;
  }
  .input-bar{
    width: 50%;
    background-color: rgb(230, 229, 233);
    margin-left: 80px;
    border-radius: 10px;
    height: 50px;
  }
  .input-bar > input:active{
    background: transparent;
    border: none;
    outline: none;
  }
  #input-bar{
    font-family: 'Open Sans', sans-serif;;
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(230, 229, 233);
    font-size: 20px;
  }
  .irefresh{
    margin-left: 200px;
  }
  .iview{
    margin-left: 20px;
  }
  .isetting{
    height: 25px;
    width: 25px;
    margin-left: 20px;
  }
  .iapps{
    height: 25px;
    width: 25px;
    margin-left: 50px;
  }
  .iaccount{
    height: 40px;
    width: 40px;
    margin-left: 15px;
  }
  .sideicon{
    margin-right: 35px;
  }
  .ireduce{
    height: 20px;
    width: 25px;
  }