<div>
    <div class="form" fxLayout="column" fxLayoutAlign="center center" *ngFor="let note of childMessage">
        <div class="getallnote" fxLayout="row" fxLayoutAlign="center center">
            <div class="form-element">
                <div class="iform">
                    <input type="text" placeholder="{{note.title}}">
                    <div class="pinicon">
                        <!-- <img src="../../../assets/push_pin_.svg"> -->
                    </div>
                    <input class="takenote" type="text" placeholder="{{note.description}}">
                    
                </div>
                <div class="iconbar" fxLayout="row" fxLayoutAlign="space-between end">
                    <div class="icontainer">
                        <app-icons></app-icons>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
