.main{
    margin-left: 120px;
    margin-top: 50px;
    width: 1100px;
    // background-color: aqua;
}

.note{
    // background-color: rgb(220, 4, 4);
    border-radius: 8px;
    border: 1px solid rgb(132, 130, 130);
    width: 220px;
    height: 125px;
    margin-left: 20px;
    margin-top: 20px;
}

.note-element{
    border: 1px;
    width: 220px;
    border-radius: 6px;
    background-color: rgba(251, 249, 249, 0.932)
}
.note:hover{
    box-shadow: 2px 2px 3px rgba(167, 163, 163, 0.667);
}
.iform{
    width: 70%;
    margin-left: 10px;
    margin-top: 10px;
}   
.iform > input{
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    font-size: medium;
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    // background-color: yellow;
}
.ititle > input{
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    font-size: medium;
    font-weight: bold;
    border: none;
    outline: none;
    width: 120px;
}
.iconbar{
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
    // background-color: aquamarine;
}

.icontainer{
    visibility: hidden;
}
.note-element:hover .icontainer{
    visibility: visible;
}
.pinicon{
    display: none;
}
.pinicon > img{
    width: 20px;
    height: 22px;
    margin-left: 60px;
}
.note-element:hover .pinicon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.pinicon:hover{
    background-color: rgba(224, 223, 221, 0.995);
    cursor: pointer;
}
    