<div class="parent" fxLayout="column" fxLayoutAlign="center center">
    <div class="child" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h1>Fundoo</h1>
            <h1>Sign in</h1>
            <h3>Use your Fundoo Account</h3>
        
            <div class="forminput">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput>
                </mat-form-field>
            </div>
            <div class="forminput">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
            </div>
            <div id="forgetbutton" class="example-button-row">
                <button mat-button color="primary">Forgot password?</button>
            </div><br>
            <div>
                <p style="color: grey;">Not your computer? Use Guest mode to sign in privately.</p>
                <button mat-button color="primary">Learn more</button>
            </div>
            <div class="loginbutton"  fxLayout="row" fxLayoutAlign="space-between end">
                <div id="createbutton">
                    <button mat-button color="primary">Create account</button>
                </div>
                <div>
                    <button mat-raised-button color="primary">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>