<div fxLayoutAlign="center center">
    <div class="form" ngClass.xs="form-xs" fxLayout="column" fxLayoutAlign="center center">
        <div class="form-element">
            <div class="iform" *ngIf="showNote">
                <input type="text" placeholder="Title" [(ngModel)]="title">
                <div class="pinicon">
                    <img src="../../../assets/push_pin_.svg">
                </div> 
            </div>
            <div class="iform">
                <input class="takenote" type="text" placeholder="Take a note..." [(ngModel)]="desc" (click)="show()">
                <div fxLayout="row" *ngIf="showIcon">
                    <img class="inote mnote" src="../../../assets/check_box_FILL0_wght400_GRAD0_opsz48.svg">
                    <img class="inote mnote" src="../../../assets/brush_FILL0_wght400_GRAD0_opsz48.svg">
                    <img class="mnote" src="../../../assets/image_black_24dp.svg">
                </div>
            </div>
            <div class="iconbar" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="showNote" >
                <div class="icontainer">
                    <app-icons></app-icons>
                </div>
                <button mat-button (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>