<div class="parent" fxLayout="column" fxLayoutAlign="center center">
    <div class="child" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <h2>Fundoo</h2>
            <h1>Reset your Password</h1>
            <h4>Enter your new password</h4>
        
            <div class="forminput">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="">
                    <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                </mat-form-field>
            </div>
            <div class="forminput">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </div>
            <div class="loginbutton"  fxLayout="row" fxLayoutAlign="end center">
                <div>
                    <button mat-raised-button color="primary">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>