<div class="parent" fxLayout="column" fxLayoutAlign="center center">
    <div class="child" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="resetForm">
       <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <h2 class="head">
                <font color="blue">F</font>
                <font color="red">u</font>
                <font color="yellow">n</font>
                <font color="blue">d</font>
                <font color="green">o</font>
                <font color="red">o</font>
            </h2>
            <h1>Reset your Password</h1>
            <h4>Enter your new password</h4>
        
            <div class="forminput">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="" formControlName="pass">
                    <mat-error>Enter a valid password</mat-error>
                    <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                </mat-form-field>
            </div>
            <div class="forminput">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="" formControlName="cpass">
                    <mat-error>Retype your entered password</mat-error>
                </mat-form-field>
            </div>
            <div class="loginbutton"  fxLayout="row" fxLayoutAlign="end center">
                <div>
                    <button mat-raised-button color="primary">Next</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>