// .parent{
//     border: 2px solid white;
//     height: 100vh;
// }

.child{
    height: 50%;
    width: 50%;
    margin-top: 70px;
    border: 1px solid rgb(227, 224, 224);
    border-radius: 10px;
    padding: 25px;
    
}
.child1{
     width: 60%;
    
}

.fname{
    margin-left: 35px;
}
.lname{
    margin-left: 10px;
}
.uname .mat-form-field{
    width: 410px;
}
.buttondiv{
    margin-top: 20px;
    margin-left: -12px;
    width: 92%;
    
}

.imgdiv > p{
    text-align: center;
    font-size: 17px;
    width: 70%;
    margin-top: 20px;
    color: rgb(134, 129, 129);
}
.passtext{
        margin-top: 50px;
        margin-left: 10px;
        font-size: 11px;
}
.next{
    margin-right: -77px;
}
