<div class="parent" fxLayout="row" fxLayoutAlign="center center" >
    <div class="child" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="child1">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div>
                <h1>
                    <font color="blue">F</font>
                    <font color="red">u</font>
                    <font color="#F4B400">n</font>
                    <font color="blue">d</font>
                    <font color="green">o</font>
                    <font color="red">o</font>
                </h1>
                <h1>Create your Fundoo Account</h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div class="fname">
                    <mat-form-field appearance="outline">
                        <mat-label>First name</mat-label>
                        <input matInput placeholder="" formControlName="fname">
                        <mat-error>Enter first name</mat-error>
                    </mat-form-field>
                </div>
                <div class="lname">
                    <mat-form-field appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="" formControlName="lname">
                        <mat-error>Enter last name</mat-error>
                    </mat-form-field>    
                </div>
                
            </div>
            <div class="uname">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="username" formControlName="email">
                    <mat-hint>You can use letters, numbers & periods</mat-hint>
                    <mat-error>Enter valid email</mat-error>
                </mat-form-field>
            </div>
            <div class="buttondiv">
                <button mat-button color="primary">Use my current email address instead</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div class="fname">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="" formControlName="pass">
                        <mat-error>Enter a password</mat-error>
                        <!-- <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="lname">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput placeholder="" formControlName="cpass">
                        <mat-error>Retype your entered password</mat-error>
                    </mat-form-field>
                </div>  
            </div>
            <mat-hint class="passtext">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
            <div>
                <!-- <form>
                    <input type="checkbox" id="Password" name="Password" value="Password">
                    <label for="Password"> Show Password</label><br>
                </form> -->
                <mat-checkbox>Show Password</mat-checkbox>
            </div>
            <div class="buttondiv"  fxLayout="row" fxLayoutAlign="space-between center" >
                <button mat-button color="primary" routerLink="/signin">Sign in instead</button>
                <button mat-raised-button color="primary" class="next">Next</button>
            </div>
        </form>
        </div>
        <div class="imgdiv" fxLayout="column" fxLayoutAlign="space-between center" >
            <img style="width: 200px; height: 200px;" src="../../../assets/account.svg">
            <p>One account. All of Google working for you.</p>
        </div>
    </div>
</div>  
